body, html {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
}

header {
  background: url("../images/beach.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0;
  margin-top: 0;
  height: 800px;
}


header h1 {
  color: navy;
  font-size: 4.5rem;
  font-weight: 600;
  position: relative;
  top: 180px;
}

h3 {
  font-size:70px;
  padding: 2rem;
}

h2 {
  font-size: 40px;
  padding: 2rem;
}

.logo h1 {
  color: navy;
  text-shadow: 2px 2px #fba087;
  font-size: 7vw;
  vertical-align: middle;
}

.gallery {
  display: flex;
  align-items: center;
  min-height: 500px;
  flex-direction: column;
  padding-bottom: 3rem;
  margin: 6rem 0;
}

.galleryimgs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
}

.title2 h2 {
  padding-bottom: 4rem 0;
}

.galleryimgs button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: white 1px solid;
  display:inline-block;
  font-size: 1.3rem;
  z-index: 2;
  background-color: rgba(1, 108, 190,1);
  color: white;
  align-items: center;
  outline: none;
  display: none;
}

.galleryimgs:hover .button {
    display: inline-block;
}

#leftbutton {
  justify-content: left;
  float: right;
}

.gallery img {
  display: none;
  overflow: hidden;
  max-width: 600px;
  max-height: 500px;
}


#coralcar {
  display: block;
}

#date {
  font-size: 40px;
  margin-top: 500px;
  position: relative;
  bottom: 30px;
}

.registry {
  font-family: Helvetica;
  font-size: 20px;
  background-color: rgba(0, 23, 57,1);
  color: bisque;
  display: block;
  padding: 80px;
}

.registry h4 {
  font-family: 'Poiret One';
  font-size: 40px;
  vertical-align: middle;
  margin: 10px;
  padding: 5px;
}

.registry a {
  color: ivory;
}

.about {
  margin: 2rem auto;
  padding: 5rem auto;
}

.about h2 {
  padding: 2rem;
}

#amp {
  font-size: 50px;
}

.registry h4 {
  padding: 2rem;
}

.registry .content {
  padding: 5rem;
}

.RSVP {
  padding: 13.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: auto;
}

.rsvps {
  justify-content: center;
}

table {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1.5rem;
}

td,tr,th {
  border: 1px black solid;
  padding: .4rem;
  text-align: left;
}

.RSVP button {
  margin-bottom: 4rem;
  font:inherit
}
