body {
  margin-top: -90px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 10px;
  border: 0;
  text-align: center;
  font-family: Poiret;
}

header {
  background-image: url("../images/beach.jpg");
  background-size: cover;
  background-position: center;
  padding:0;
  margin-top: 0;
}

 h1 {
  color: navy;
  text-shadow: 2px 2px #000000;
  font-size: 80px;
  position: relative;
  top: 180px;
}

h3 {
  font-size:70px;
}

h2 {
  font-size: 40px;
}

.logo h1 {
  color: navy;
  text-shadow: 2px 2px #fba087;
  font-size: 7vw;
  vertical-align: middle;
}

#date {
  font-size: 40px;
  margin-top: 500px;
  position: relative;
  bottom: 30px;
}


div {
  padding: 0;
  margin-top: 120px;
}

.registry {
  font-family: helvetica;
  font-size: 20px;
  background-color: #F2F2F2;
  display: block;
  padding: 80px;
}

.registry h4 {
  font-family: Poiret;
  font-size: 40px;
  vertical-align: middle;
  margin: 10px;
  padding: 5px;
}

.about img {
  width: 30%;
  height: auto;
}

#rockon {
  width: 39%;
  height: auto%;
}

#amp {
  font-size: 50px;
}
